body {
  font-family:Arial, Helvetica, sans-serif;
  background: #000000;
  box-sizing: border-box;
  color: #FFFFFF;
  display: grid;
  margin: 0;
  padding: 1vh;
}
#title_text {
  font-size: 15vmin;
  text-align: center;
}
#timer_display {
  font-size: 15vmin;
  text-align: center;
  padding: 2vh;
}
#timer_button_container {
  text-align: center;
}
#timer_button, #break_button{
  font-size: 15vmin;
} 
